


.container {
padding: 0 21px;
margin: 0 auto;
}
.container-skills {
  margin: 0 auto;
padding: 0 26px;
}
/* КОНЕЦ: SECTION Desktop HD */

/*1 НАЧАЛО header  *//* Section 1 */
.header {
width: 992px;
height: 602px;
box-sizing: border-box;
background: #ffffff;
}

.nav_flex {
    height: 140px;
display: flex;
}
.nav_TheTitle {
   padding-top: 36px;
   padding-left: 10px;

font-family: var(--font-family);

font-weight: 400;
font-size: 30px;
color: #000;
}
.nav_TheTitle span {
color: #939393;
}




.nav-bar_flex {
display: flex;
padding-top: 48px;

}
.nav-bar {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #263238;
}
.text_Home {
padding-left: 168px;

}
.text_Skills {
padding-left: 29px;

}
.text_AboutUs {
padding-left: 25px;

}
.text_Pricing {
padding-left: 45px;

}
.text_Contacts {
padding-left: 26px;
}

.navbtn {
width: 160px;
height: 50px;
margin-top: 25px;
margin-left: 100px;

border: 2px solid #263238;
border-radius: 5px;
  cursor: pointer;

  background: #ffffff;
}
.navbtn-text {
  height: 18px;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;

color: #000;
}

.navbtn:hover {
  background-color: #ebf0f1;
}



.cover-box_grid {
 display: grid;
 height: 480px;
   grid-template-areas:
  "one two";
}
.cover-box_text {
   grid-area: one;
}
.cover-box_img {
   grid-area: two;
}




.cover-box_text {
width: 460px;
height: 460px;
}

.box-text_img-flex {
display: flex;
width: 460px;
height: 200px;

padding-left: 2px;
}
.box-text_img-lamp {
width: 88px;
height: 88px;

padding-top: 104px;
padding-left: 10px;
}

.cover-box_text-h1 {
  height: 50px;
padding-top: 17px;
padding-left: 6px;

font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
line-height: 133%;
color: #000;

}

.cover-box_text-p {
height: 100px;

    padding-top: 36px;
    padding-left: 11px;

font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 149%;

color: #8f95a5;
}

.cover-btn {
width: 292px;
height: 80px;
margin-top: 22px;
margin-left: 8px;

background: #263238;
border-radius: 5px;
cursor: pointer;

font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #fff;
}
.cover-btn:hover {
  background: #3f4c52;
}

.cover-box_img {
width: 460px;
height: 460px;

padding-top: 3px;
padding-left: 29px;
}
/* END header  */

/*2 НАЧАЛО skills  *//* Section 2 */
.skills {
width: 992px;
height: 937px;
box-sizing: border-box;
background: #ffffff;
}
.skills h2{
  height: 120px;
padding-top: 49px;
padding-left: 424px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 80px;
/* identical to box height, or 222% */

color: #000000;
}


/* Grid */
.skills__grid {
  display: grid;
  gap: 13px;

  margin-top: 11px;
  grid-template-areas:
  "one two three"
  "one four four";
  justify-content: space-evenly;
    align-items: stretch;
  align-content: start;
}
.speaking {
  grid-area: one;
}
.writing {
  grid-area: two;
}
.reading {
  grid-area: three;
}
.listening {
  grid-area: four;
  flex-direction: row;
}
.listening .skills__grid-image {
  order: 1;
}
/* Grid */

/* Элемент 1 */
.skills-item1 {
  max-width: 303px;
height: 696px;



background: #F5F5F5;
border-radius: 10px;
}

.skills-image_speaking {
 width: 260px;
height: 260px;

padding-left: 23px;
}

.skills-content_speaking {
width: 290px;



}
.skills-content_speaking h3 {
height: 10px;
padding-top: 28px;
padding-left: 30px;

font-family: var(--font-family);
font-weight: 600;
font-size: 22px;

color: #263238;
}

.skills-content_speaking p {
height: 230px;

padding-top: 20px;
padding-left: 28px;


font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #8f95a5;
}

.btn__skills_speaking {
width: 196px;
height: 57px;
margin-top: 11px;
margin-left: 29px;

text-align: center;

background: #263238;
border-radius: 5px;
cursor: pointer;
}
.btn-text {
padding-top: 17px;
margin: auto;

font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
color: #fff;
}

/*  Элемент 2 */
.skills-item2 {
width: 302px;
height: 441px;


background: #F5F5F5;
border-radius: 10px;
}

.skills-image_writing {
position: absolute;
width: 205px;
height: 205px;

padding-top: 6px;
padding-left: 97px;

}

.skills-content_writing {
width: 286px;
height: 222px;
}
.skills-content_writing h3 {
height: 50px;
padding-top: 182px;
padding-left: 39px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 80px;
/* or 364% */

color: #263238;
}


.skills-content_writing p {
height: 90px;
padding-top: 5px;
padding-left: 38px;

font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #8f95a5;
}

.btn__skills_writing {
border-radius: 5px;
width: 196px;
height: 57px;
margin-left: 39px;

background: #263238;
border-radius: 5px;
cursor: pointer;
}

.btn__skills_writing .btn-text {
font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
color: #fff;
}



/*  Элемент 3 */
.skills-item3 {
width: 304px;
height: 442px;

border-radius: 10px;
background: #F5F5F5;
}

.skills-image_reading {
width: 243px;
height: 162px;
margin-top: 16px;
margin-left: 7px;
padding-top: 5px;

  position: relative;
margin-top: 11px;


}

.skills-content_reading {
width: 286px;
height: 222px;
}

.skills-content_reading h3 {
height: 30px;
padding-top: 5px;padding-left: 30px;

font-family: var(--font-family);
font-weight: 600;
font-size: 22px;
line-height: 364%;
color: #263238;
}

.skills-content_reading p {
height: 80px;
padding-top: 21px;
padding-left: 31px;

font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #8f95a5;
}

.btn__skills_reading {
border-radius: 5px;
width: 196px;
height: 57px;
margin-top: 11px;
margin-left: 31px;

background: #263238;
cursor: pointer;
}
.btn__skills_reading .btn-text {
font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
color: #fff;
}

/*  Элемент 4 */
.skills-item4_flex {
border-radius: 10px;
width: 616px;
height: 241px;

display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

background: #F5F5F5;
}

.skills-image_listening {
border-radius: 10px;
width: 254px;
height: 169px;
padding-top: 33px;
padding-left: 7px;

background: #f5f5f5;
}

.skills-content_listening {
width: 324px;
height: 205px;
}
.skills-content_listening h3 {
height: 50px;
padding-top: 4px;
padding-left: 30px;

font-family: var(--font-family);
font-weight: 600;
font-size: 22px;
line-height: 364%;
color: #263238;
}
.skills-content_listening p {
height: 50px;
padding-top: 3px;
padding-left: 32px;

font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #8f95a5;
}

.btn__skills_listening {
border-radius: 5px;
width: 196px;
height: 57px;
margin-top: 15px;
margin-left: 29px;

background: #263238;
cursor: pointer;
}

.btn__skills_listening .btn-text {
font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
color: #fff;
}

/* END skills  */

/*3 НАЧАЛО About Us  *//* Section 3 */
.aboutUs {
width: 992px;
height: 420px;
box-sizing: border-box;
background: #ffffff;
}
.aboutUs-flex {
display: flex;
margin-top: 44px;
}
.aboutUs-content {
width:546px;
height: 345px;
}
.aboutUs-content h3 {
height: 70px;
padding-top: 2px;
padding-left: 10px;

font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 222%;
color: #000;
}
.aboutUs-content p {
height: 130px;
padding-top: 9px;
padding-left: 11px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #8f95a5;
}

.aboutUs-numbers_flex {
 display: flex;
justify-content: flex-start;

width: 455px;
height: 50px;
}
.numbers {
font-family: var(--font-family);
font-weight: 600;
font-size: 30px;
line-height: 267%;
color: #2a3246;
}
.number_800 {
  width: 150px;

  padding-top: 8px;
  padding-left: 17px;
}
.number_18 {
  width: 150px;

  padding-top: 3px;
  padding-left: 8px;
}

.number_6 {
    width: 150px;
    padding-top: 3px;
    padding-left: 31px;


}

.aboutUs-text p {
  padding-top: 26px;
  padding-left: 28px;
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: #8f95a5;
}

.aboutUs-numbers_text-flex {
  display: flex;
  width: 500px;
  height: 50px;
margin-top: 10px;
margin-left: 21px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #8f95a5;
}

.Pupils_text {
height: 18px;
padding-top: 18px;
padding-left: 3px;
}
.Teachers_text {
height: 18px;
padding-top: 18px;
padding-left: 67px;
}
.Foreign_text {
height: 18px;
padding-top: 18px;
padding-left: 55px;
}


.aboutUs-image {
width: 336px;
height: 336px;

}


/* END About Us  */


/*4 НАЧАЛО Pricing  *//* Section 4 */
.pricing {
width: 992px;
height: 611px;
box-sizing: border-box;
background: #ffffff;
}

.pricing h3 {
height: 70px;
padding-top: 48px;
padding-left: 412px;

font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 222%;
color: #000;
}
/* Grid */
.pricing-grid {
display: grid;
  gap: 20px;
  grid-template-areas: "one two three";
  justify-content: start;
  align-items: stretch;
  align-content: start;
}

/* 1 элемент */
.self-study {
  width: 295px;
  height: 488px;
  grid-area: one;
}
.self-study_img {
width: 222px;
height: 222px;

padding-top: 31px;
padding-left: 24px;
}
.self-study_content {
  width: 306px;
  height: 219px;

}
.self-study_content-h4 {
height: 20px;
padding-top: 26px;
padding-left: 9px;

font-family: var(--font-family);
font-weight: 500;
font-size: 21.5px;
letter-spacing: 0.1px;

color: #263238;
}
.self-study_content-p {
height: 70px;
padding-top: 10px;
padding-left: 11px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #8f95a5;
}

.self-study__btn {
border-radius: 5px;
width: 205px;
height: 45px;
margin-top: 48px;
margin-left: 11px;

border: none;
cursor: pointer;
background: #eee;
}
.self-study__btn:hover {
  background-color: #ebf0f1;
}

.btn-text1 {
  padding-top: 4px;
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #263238;
}
.btn-text1 span {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #546269;
}

/* 2 элемент */
.live {
  width: 295px;
  height: 488px;
  grid-area: two;
}
.live_img {
width: 267px;
height: 195px;

padding-top: 56px;
padding-left: 12px;
}
.live_content {
 width: 300px;
 height: 205px;

}
.live_content-h4 {
height: 30px;
padding-top: 28px;
padding-left: 31px;


font-family: var(--font-family);
font-weight: 600;
font-size: 21.5px;
letter-spacing: 0.1px;
color: #263238;
/* letter-spacing: 0.002em; */
}
.live_content-p {
height: 100px;
padding-top: 2px;
padding-left: 31px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #8f95a5;
}
.live__btn {
border-radius: 5px;
width: 205px;
height: 45px;
margin-top: 12px;margin-left: 31px;

border: none;
cursor: pointer;
background: #eee;
}
.live__btn:hover {
  background-color: #ebf0f1;
}
.btn-text2 {
  padding-top: 8px;
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #263238;
}
.btn-text2 span {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #546269;
}

/* 3 элемент */
.personal {
   width: 297px;
    height: 453px;
  grid-area: three;
}
.personal_img {
width: 242px;
height: 242px;

padding-top: 19px;
padding-left: 35px;
}
.personal_content {
 width: 350px;
 height: 217px;

}
.personal_content-h4 {
height: 20px;
padding-top: 18px;
padding-left: 52px;

font-family: var(--font-family);
font-weight: 600;
font-size: 21.5px;
letter-spacing: 0.1px;
color: #263238;

}
.personal_content-p {
height: 120px;
padding-top: 4px;
padding-left: 52px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #8f95a5;
}
.personal__btn {
width: 205px;
height: 45px;
margin-left: 52px;

border: none;
cursor: pointer;
background: #eee;
}
.personal__btn:hover {
  background-color: #ebf0f1;
}

.btn-text3 {
  padding-top: 6px;

font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #263238;
}
.btn-text3 span {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #546269;
}

/* END Pricing  */


/*5 НАЧАЛО Contact Us  *//* Section 5 */
.contactUs {
    width: 992px;
height: 440px;
margin-top: 112px;
box-sizing: border-box;
background: #ffffff;
}
.container-contactUs {
  margin: 0;
padding: 0 13px;
}
.contactUs-flex {
  height: 440px;
 display: flex;
}

.contactUs-img {
  width: 312px;
height: 281px;
margin-top: 4px;

}

.contactUs-content {
width: 600px;
height: 256px;
}
.contactUs-content h3 {
height: 70px;
padding-left: 123px;

font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 222%;
color: #000;
}
.contactUs-content p {
height: 70px;
padding-left: 107px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #8f95a5;
}
.contactUs-form {
width: 555px;
height: 100px;

margin-top: 29px;
margin-left: 113px;
}
.contactUs-form input {
border: 1px solid #8f95a5;
border-radius: 10px;
width: 310px;
height: 60px;
}
.contactUs-form button {
border-radius: 10px;
width: 193px;
height: 60px;
margin-left: 11px;
cursor: pointer;


font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
background: #263238;
color: #fff;
}

.contactUs-form button:hover {
  background: #03537e;
}
.contactUs_line {
width: 929px;
height: 1px;




background: #c4c4c4;
}

/* END Contact Us  */


/*6 НАЧАЛО footer  *//* Section 6 */
.footer {
    width: 992px;
height: 80px;
box-sizing: border-box;
 background: #ffffff;
}
.footer-flex {
  display: flex;
}
.footer_TheTitle {
height: 20px;
padding-top: 30px;
padding-left: 11px;

font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
color: #000;
}
.footer_TheTitle span {
color: #939393;
}
.footer-text {
height: 18px;
padding-top: 44px;
padding-left: 420px;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #8f95a5;
}

/* END footer  */
