@font-face {
  font-family: 'Poppins';
 src:   url('../fonts/Poppins-Black.ttf') ,
url('../fonts/Poppins-BlackItalic.ttf') ,
url(../fonts/Poppins-Bold.ttf),
url(../fonts/Poppins-BoldItalic.ttf)

;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
