/* media */

/* Очень маленькие устройства (телефоны, 320 пикселей и меньше) */
@media only screen and (max-width: 320px) {
.container {
max-width: 320px;
padding: 0 11px;
margin: 0 auto;
}
}

/* Малые устройства (планшеты с портретной ориентацией и большие телефоны, от 320 пикселей) */
@media only screen and (min-width: 320px) {

}

/* Средние устройства (планшеты в альбомной ориентации, 575 пикселей и более) */
@media only screen and (min-width: 575px) {

}

/* Средние устройства (планшеты в альбомной ориентации, 767 пикселей и более) */
@media only screen and (min-width: 767px) {

}

/* Крупные устройства (ноутбуки/настольные компьютеры, от 992 пикселей) */
@media only screen and (min-width: 992px) {

}

/* Очень большие устройства (большие ноутбуки и настольные компьютеры, от 1200 пикселей и выше) */
@media only screen and (min-width: 1200px) {
.container {

}
}

/* Очень большие устройства (большие ноутбуки и настольные компьютеры, от 1600 пикселей и выше) */
@media only screen and (min-width: 1600px) {
.container {
max-width: 1600px;
padding: 0 120px;
margin: 0 auto;
}
}
